name: Deploy PWA to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixa o código do repositório
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Instala o Flutter no ambiente do GitHub
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          

      # 3. Baixa as dependências
      - name: Install dependencies
        run: flutter pub get

      # 4. Compila para Web
      - name: Build Web
        run: flutter build web --release --base-href "/task_estimator/"

      # 5. Publica na branch gh-pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web